/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

p  {	font-family: "Roboto";
	display: block;
}

h2 {	font-family: 'Playfair Display', serif;
	font-size: 20px;
	display: block;
}
	
h3  {	font-family: 'Playfair Display', serif;
	font-size: 17px;
	display: block;
	color: #B50938;
}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.container {
	padding: 1em;
}

/* listings of photos */
.listing {
	margin: 0 0 2em 0;
	padding: 2em;
	background: #eee;
}

.listing ul {
	max-width: 25em;
	padding: 0;
	list-style-type: none;
}

.listing li {
	border-top: 1px solid #ccc;
}

.listing a {
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}


/* listings with image thumbnails */
.image-listing ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	max-width: 100%;
}

.image-listing li {
	border: none;
}



/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (min-width: 720px) {
	
	/* container on larger screens */
	.container {
		width: 90%;
		max-width: 1200px;
		margin: 2em;
		margin-right: auto;
		margin-left: auto;
		padding: 2em;
		border: 1px solid #ddd;
	}

} /* end media query */
