/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/

<link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Playfair+Display"
			rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">




/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 11px;
	line-height: 1.5em;
	color: #222;
}


h1	{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.4em;
	line-height: 1em;
	padding-bottom: 0.5em;
	padding-top:0.1em;
	font-weight:400;
}

a	{
    text-decoration: none;
	color: black;
}

a:hover {
	color: #A8243B;
}

.categories-red	{
	padding-bottom:0;
	padding:0;
	margin-top: 1px;;
	/*padding-top:2.2em;*/
	color: #B50938;
	/*font-size: 2em;*/
	font-weight: 600;
	font-size: 1.7em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

h2	{
	font-family: 'Quicksand', sans-serif;
	color: #B50938;
	font-weight: 800;
	font-size: 2.5em;
	margin: 0;
}

h3	{
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}



h4	{
	color: #727272;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
	padding-top: 0.1em;
	font-weight: 200;
	font-family: 'Quicksand', sans-serif;

}

h5	{
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
	line-height: 1em;
	padding: 0;
	margin:0;
	margin-top: 1.5em;
}

.list	{
	text-align: left;
	font-weight: 100;
	font-size:1em;
	line-height: 1.4em;
	padding: 0;
	margin:0;
}

p		{
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: 100;
	margin:0;
	padding: 0;
	padding-bottom: 1em;
}

.paragraph	{
	max-width: 700px;
}

.painting-title	{
	font-size: 1.3em;
	padding: 0;
	padding-top: 0.1em;
	margin: 0;
	/*padding-top: 0.1em;*/
	font-weight: 800;
	font-family: 'Quicksand', sans-serif;
	line-height: 1.2em;
	text-decoration: none;

	/*text-transform: uppercase;*/
}

.painter-title	{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1em;
	padding: 0;
	margin:0;
	margin-top: 0.5em;
	color: #727272;
	text-decoration: none;

}



/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
.container {
	/*padding: 1em;*/
	margin: 0em;
	/*background-color: #F0F0F0;*/
	/*margin-left:500px;*/
}

.menu	{
  overflow: hidden;
  background-color: #B50938;
  /*position: block; /* Set the navbar to fixed position */*/
  top: 0; /* Position the navbar at the top of the page */
  width: 10%; /* Full width */
	min-width: 100px;
	min-height: 100px;
}

.categories	{
	padding-bottom:0;
	/*padding-top:2.2em;*/
	color: #black;
   	text-decoration: none;
}

.image-grid {
	margin: auto;
	/*margin-bottom: 0;
	padding-bottom:0;*/
	/*margin-left: auto;*/
	/*width: 80%;*/
	/*display: inline-block;*/
	margin-left: auto;
 	margin-right: auto;
	max-width: 1200px; /* will never get wider than 1200px --> */
	/*padding: 2em;*/
	background-color: #fff;
	display: block;
	align-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	/*height: 400px;*/
	min-width: 200px;
}

.background-image	{
	background-image: url("../img/Vincent_van_Gogh_-_Van_Goghs_Bedroom_in_Arles_-_Google_Art_Project-1.jpg");
	background-size: contain;
	background-repeat: no-repeat;

}


.categories-writing-box	{
	background-color: white;
	padding: 1%;
	/*margin-left: 5%;*/
	margin:0;
	width:100%;
	margin-bottom: 2em;
	/*height:auto;*/
	/*height: 80px;*/
}



























/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
/* @media (min-width: 720px) { */
@media (min-width: 850px) {
/* @media (min-width: 600px) {
 */
	/* container on larger screens */
	.container {
		width: 90%;
		max-width: 900px;
		margin: 0em;
		margin-right: auto;
		margin-left: auto;
		/*padding: 2em;*/
		padding-left: 2em;
		padding-right: 2em;
		/*border: 1px solid #ddd;*/
	}

	
body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}


h1	{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.4em;
	line-height: 1em;
	padding-bottom: 0.5em;
	padding-top:0.1em;
	font-weight:400;
}

a	{
    	text-decoration: none;
	color: black;
}

a:hover {
	color: #A8243B;
}

.categories-red	{
	padding-bottom:0;
	padding:0;
	margin-top: 1px;;
	/*padding-top:2.2em;*/
/* 	color: #B50938; */
	color: blue;
	/*font-size: 2em;*/
	font-weight: 600;
	font-size: 1.7em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

h2	{
	font-family: 'Quicksand', sans-serif;
	color: #B50938;
	font-weight: 800;
	font-size: 2.5em;
	margin: 0;
}

h3	{
	font-family: 'Quicksand', sans-serif;
	font-size: 3.3em;
	padding: 0;
	margin: 0;
	line-height: 1em;
}

h4	{
	color: #727272;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
	padding-top: 0.1em;
	font-weight: 200;
	font-family: 'Quicksand', sans-serif;

}

h5	{
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
	line-height: 1em;
	padding: 0;
	margin:0;
	margin-top: 1.5em;
}

.list	{
	text-align: left;
	font-weight: 100;
	font-size:1em;
	line-height: 1.4em;
	padding: 0;
	margin:0;
}

p		{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: 100;
	margin:0;
	padding: 0;
}
	
	
	
	
	
	
	
	/*.painter-title	{
		text-transform: uppercase;
		font-size: 0.2;
	}*/


	.artwork-title	{
		text-align: center;
		margin-top:1em;
	}

	.title	{
		text-align: center;
		/*margin-top:1.3em;*/
		margin-bottom:0.5em;
	}
	
	.title-two	{
		text-align: center;
		/*margin-top:1.3em;*/
		margin-bottom:0.5em;
		font-weight:400;
		font-size:2.8;
		color: #9b9b9b;
	}

	.artist-title	{
		text-align: center;
		margin-bottom: 1em;
		font-weight: 100;
	}

	.info-grid	{
		/*grid-template-columns: 1fr 1fr;
		width: 100%;*/
		margin-right: auto;
		margin-top: 3em;
		margin-bottom: 2em;
		margin-left: 0;
		width: 100%;
		/*height: 50px;*/
		/*max-width: 180px; /* will never get wider than 1200px --> */*/
		/*padding: 2em;*/
		/*background-color: #fff;*/
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr;
		display: grid;
		grid-gap:0.5em;
		align: left;

	}

	.info-grid-one	{
		grid-columns: 1/2;
		width: 100%;
	}

	.info-grid-two	{
		grid-columns: 2/3;
		width: 100%;
	}

	.two-grid	{
		display: grid;
		margin-right: auto;
		margin-top: 0.5em;
		margin-bottom: 2em;
		margin-left: 0;
		width: 100%;
		/*height: 300px;*/
		padding: 0;
		/*max-width: 180px; /* will never get wider than 1200px --> */*/
		/*padding: 2em;*/
		/*background-color: #fff;*/
		display: grid;
		grid-template-columns: 1fr 3fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-gap:1em;
		align: left;
		margin-top: 4em;

	}

	.two-grid-result	{
		background: white;
		grid-columns: span 1;
		/*grid-row: 1/2;*/
	}

	.top-two-grid	{
		display: grid;
		margin-right: auto;
		margin-top: 4em;
		margin-bottom: 2em;
		margin-left: 0;
		width: 100%;
		/*height: 300px;*/
		padding: 0;
		/*max-width: 180px; /* will never get wider than 1200px --> */*/
		/*padding: 2em;*/
		/*background-color: #fff;*/
		display: grid;
		grid-template-columns: 1fr 1fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-gap:1em;
		align: left;
	}

	.top-two-grid-result	{
		background: white;
		grid-columns: span 1;
		/*grid-row: 1/2;*/
	}



	.categories-grid	{
		display: grid;
		margin-right: auto;
		margin-top: 0.5em;
		margin-bottom: 2em;
		margin-left: 0;
		width: 100%;
		/*height: auto;*/
		/*height: 300px;*/
		padding: 0;
		/*max-width: 180px; /* will never get wider than 1200px --> */*/
		/*padding: 2em;*/
		/*background-color: #fff;*/
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-gap:1em;
		align: left;
	}

	.categories-result	{
		background: white;
		grid-columns: span 1;
		/*grid-row: 1/2;*/
	}
/*
	.categories-two	{
		background: white;
		grid-columns: 2/3;
		grid-row: 1/2;

	}

	.categories-three	{
		background: white;
		grid-columns: 3/4;
		grid-row: 1/2;

	}

	.categories-four	{
		background: white;
		grid-columns: 1/2;
		grid-row: 2/3;
	}

	.categories-five	{
		background: white;
		grid-columns: 2/3;
		grid-row: 2/3;

	}

	.categories-six	{
		background: white;
		grid-columns: 3/4;
		grid-row: 2/3;
	}*/

	.categories-image	{
/* 		width: 100%; */
/* 		height: 100%; */
		width: auto;
		height: 220px;
 		color: grey;
/* 		background-color: #e7e7e7; */
		margin-right: auto;
		display: flex;
		object-fit: none;
		justify-content: center;
		align-items: center;
		overflow: hidden
	}

	.categories-writing-box	{
		background-color: white;
		padding: 1%;
		/*margin-left: 5%;*/
		margin:0;
		width:100%;
		/*height:auto;*/
		/*height: 80px;*/
	}




	.small-categories-grid	{
		display: grid;
		margin-right: auto;
		margin-top: 0.5em;
		margin-bottom: 2em;
		margin-left: 0;
		width: 100%;
		/*height: 110px;*/
		padding: 0;
		/*max-width: 180px; /* will never get wider than 1200px --> */*/
		/*padding: 2em;*/
		/*background-color: #fff;*/
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap:1em;
		grid-row-gap:0.1em;
/* 		align: left; */
		
/* 		background-color: #E7E7E7; */
		text-align: center;
		
		
	}

	.small-categories-one	{
		background: white;
		grid-columns: 1/2;
		grid-row: 1/2;
		padding-top: 0.2em;
		
	}

	.small-categories-two	{
		background: white;
		grid-columns: 2/3;
		grid-row: 1/2;
		padding-top: 0.2em;

	}

	.small-categories-three	{
		background: white;
		grid-columns: 3/4;
		grid-row: 1/2;
		padding-top: 0.2em;
	}

	.small-categories-four	{
		background: white;
		grid-columns: 1/2;
		grid-row: 2/3;
	}

	.small-categories-five	{
		background: white;
		grid-columns: 2/3;
		grid-row: 2/3;
	}

	.small-categories-six	{
		background: white;
		grid-columns: 3/4;
		grid-row: 2/3;
	}

	.small-categories-seven	{
		background: white;
		grid-columns: 1/2;
		grid-row: 3/4;
	}

	.small-categories-eight	{
		background: white;
		grid-columns: 2/3;
		grid-row: 3/4;
	}

	.small-categories-nine	{
		background: white;
		grid-columns: 3/4;
		grid-row: 3/4;
	}

	.small-categories-ten	{
		background: white;
		grid-columns: 1/2;
		grid-row: 4/5;
	}

	.small-categories-eleven	{
		background: white;
		grid-columns: 2/3;
		grid-row: 4/5;
	}

	.small-categories-image	{
		width: 100%;
		height: 60px;
		/*color: grey;*/
/* 		background-color: grey; */
		background-color: #E7E7E7;
		margin-right: auto;
		text-align: center;
		padding-top: 1em;
	}

	.small-categories-writing-box	{
		background-color: white;
		padding: 1%;
		/*margin-left: 5%;*/
		margin:0;
		width:100%;
		height: 40px;
	}

	.color-grid	{
		/*padding-top: 10%;*/
		display: grid;
		margin-right: auto;
		margin-top: 0.5em;
		margin-bottom: 2em;
		margin-left: 0;
		width: 30%;
		height: 50px;
		max-width: 180px; /* will never get wider than 1200px --> */
		/*padding: 2em;*/
		/*background-color: #fff;*/
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap:0.5em;
		align: left;
		/*grid-gap:1em;*/
	}


	.color-one {
		background: red;
		grid-columns: 1/2;
		/*border-right: 2px solid #BABABA;*/
	}

	.color-one {
		background: blue;
		grid-columns: 2/3;
		/*border-right: 2px solid #BABABA;*/
	}

	.color-one {
		background: green;
		grid-columns: 3/4;
		/*border-right: 2px solid #BABABA;*/
	}


	.list-grid {
		margin-top: 0px;
		margin-right: auto;
		/*margin-bottom: 0;
		padding-bottom:0;*/
		margin-left: auto;
		/*width: 80%;*/
		max-width: 1200px; /* will never get wider than 1200px --> */
		/*padding: 2em;*/
		background-color: #fff;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 200px;
		min-width: 200px;
	}

	.list-grid-image	{
		background-image: url("../img/nighthawks.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	.image-grid {
		margin-top: 0px;
		margin-right: auto;
		/*margin-bottom: 0;
		padding-bottom:0;*/
		margin-left: auto;
		/*width: 80%;*/
		max-width: 1200px; /* will never get wider than 1200px --> */
		/*padding: 2em;*/
		background-color: #fff;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 600px;
		min-width: 200px;
	}

	.background-image	{
		/*background-image: url("../img/Vincent_van_Gogh_-_Van_Goghs_Bedroom_in_Arles_-_Google_Art_Project-1.jpg");*/
		background-image: url("../img/nighthawks.jpg");
		background-size: contain;
		background-repeat: no-repeat;
/* 		width: 100%;
		height: 220px; */
		/*color: grey;*/
/* 		background-color: grey; */
		margin-right: auto;
		display: flex;
		object-fit: contain;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: auto;
		max-width:100%;
/* 		max-height:100%; */
		max-height: 600px;
	}

	.footer {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: auto;
			width: 100%;
			/*min-width: 10000000px;*/
			/*max-width: 1200px; /* will never get wider than 1200px --> */*/
			/*padding: 2em;*/
			background-color: #B50938;
			height: 80px;
			/*padding: 0.5em 1em 1em 1em;*/
			/*grid-gap:0.5em;*/
			/*margin-top: 50px;*/

	}

	.menu	{
	  overflow: hidden;
	  background-color: #B50938;
	  /*position: block; /* Set the navbar to fixed position */*/
	  top: 0; /* Position the navbar at the top of the page */
	  width: 10%; /* Full width */
		min-width: 140px;
		min-height: 140px;
	}

	.button	{
		width:16.8%;
		height:50px;
		background-color: #E7E7E7;
		padding: 0.25px;
		padding-left: 5px;
		margin-bottom: 10px;
	}

	.categories	{
		padding-bottom:0;
		/*padding-top:2.2em;*/
	}

} /* end media query */
