<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="">

	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">

	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="container">

		<div class="menu">
			<img src="img//Art-Institute" id="logo"/>
		</div>
		
		<div class="button">
				<h1 class="categories"> HOME </h1>
		</div>

		<h3 class="title"> Origin</h3>

		<!-- <h1 class="categories"> Other Locations </h1> -->

		<h1 class="categories"> Categories </h1>
<!-- 		<h5 class="list"> FRANCE | UNITED STATES | NETHERLANDS | SPAIN | GERMANY </h5>
 -->
		<div class="two-grid">
			<div class="two-grid-result">
				<h1 class="categories-red"> France </h1>
			</div>
					<div class ="categories-grid">
							<div class ="categories-result">
								
								
							{% for p in site.pages %}
								{% if p.style=="Modernism" %}
								    <li>
									<a href="{{ site.baseurl }}{{ p.url }}">
									  {{ p.title }}
									</a>
								    </li>
								{% endif %}
							{% endfor %} 
								
									<div class ="categories-image">
									</div>
									<div class ="categories-writing-box">
										<p class="painting-title">A Sunday Afternoon on the Island of La Grande Jatte</p>
										<p class="painter-title">Georges Seurat</p>
									</div>
							</div>

						
					</div>






	</div>


		<div class="footer">
		</footer>

	</div><!-- end container -->

</body>
</html>
