<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="">

	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">

	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="container">

		<div class="menu">
			<img src="img//Art-Institute" id="logo"/>
		</div>
		
		<div class="button">
				<h1 class="categories"> HOME </h1>
		</div>

		<h3 class="title"> Origin</h3>

		<!-- <h1 class="categories"> Other Locations </h1> -->

		<h1 class="categories"> Categories </h1>
		<h5 class="list"> FRANCE | UNITED STATES | NETHERLANDS | SPAIN | GERMANY </h5>

		<div class="two-grid">
			<div class="two-grid-result">
				<h1 class="categories-red"> France </h1>
			</div>
					<div class ="categories-grid">
							<div class ="categories-result">
									<div class ="categories-image">
									</div>
									<div class ="categories-writing-box">
										<p class="painting-title">A Sunday Afternoon on the Island of La Grande Jatte</p>
										<p class="painter-title">Georges Seurat</p>
									</div>
							</div>

							<div class ="categories-result">
									<div class ="categories-image">
										<div class ="categories-image">
										</div>
										<div class ="categories-writing-box">
											<p class="painting-title">Paris Street; Rainy Day</p>
											<p class="painter-title">Gustave Caillebotte</p>
										</div>
									</div>
							</div>

							<div class ="categories-result">
									<div class ="categories-image">
										<div class ="categories-image">
										</div>
										<div class ="categories-writing-box">
											<p class="painting-title">The Bay of Marseille, Seen from L'Estaque</p>
											<p class="painter-title">Paul Cézanne</p>
										</div>
									</div>
							</div>

							<div class ="categories-result">
									<div class ="categories-image">
									</div>
									<div class ="categories-writing-box">
										<p class="painting-title">The Millinery Shop</p>
										<p class="painter-title">Edgar Degas</p>
									</div>
							</div>

							<div class ="categories-result">
									<div class ="categories-image">
										<div class ="categories-image">
										</div>
										<div class ="categories-writing-box">
											<p class="painting-title">The Child's Bath</p>
											<p class="painter-title">Mary Cassatt</p>
										</div>
									</div>
							</div>

							<div class ="categories-result">
									<div class ="categories-image">
										<div class ="categories-image">
										</div>
										<div class ="categories-writing-box">
											<p class="painting-title">Woman at Her Toilette</p>
											<p class="painter-title">Berthe Morisot</p>
										</div>
									</div>
							</div>

								<div class ="categories-result">
										<div class ="categories-image">
										</div>
										<div class ="categories-writing-box">
											<p class="painting-title">Two Sisters (On the Terrace)</p>
											<p class="painter-title">Pierre-Auguste Renoir</p>
										</div>
								</div>

								<div class ="categories-result">
										<div class ="categories-image">
											<div class ="categories-image">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title">Madame Cézanne in a Yellow Chair</p>
												<p class="painter-title">Paul Cézanne</p>
											</div>
										</div>
								</div>

								<div class ="categories-result">
										<div class ="categories-image">
											<div class ="categories-image">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title">At the Circus Fernando, the rider</p>
												<p class="painter-title">Henri de Toulouse-Lautrec</p>
											</div>
										</div>
								</div>

								<div class ="categories-result">
										<div class ="categories-image">
										</div>
										<div class ="categories-writing-box">
											<p class="painting-title">Final Study for "Bathers at Asnières"</p>
											<p class="painter-title">Georges Seurat</p>
										</div>
								</div>

								<div class ="categories-result">
										<div class ="categories-image">
											<div class ="categories-image">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title">Houses at Chatou</p>
												<p class="painter-title">Maurice de Vlaminck</p>
											</div>
										</div>
								</div>
						</div>


					<h1 class="categories-red"> United States  </h1>
						<div class ="categories-grid">
								<div class ="categories-result">
										<div class ="categories-image">
										</div>
										<div class ="categories-writing-box">
											<p class="painting-title">Nighthawks</p>
											<p class="painter-title">Edward Hopper</p>
										</div>
								</div>

								<div class ="categories-result">
										<div class ="categories-image">
											<div class ="categories-image">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title">American Gothic</p>
												<p class="painter-title">Grant Wood</p>
											</div>
										</div>
								</div>

								<div class ="categories-result">
										<div class ="categories-image">
											<div class ="categories-image">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title">Sky above Clouds IV</p>
												<p class="painter-title">Georgia O'Keeffe</p>
											</div>
										</div>
								</div>

								<div class ="categories-result">
										<div class ="categories-image">
											<div class ="categories-image">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title">Ready-to-Wear</p>
												<p class="painter-title">Stuart Davis</p>
											</div>
										</div>
								</div>
						</div>



						<h1 class="categories-red"> Netherlands  </h1>
							<div class ="categories-grid">
									<div class ="categories-result">
											<div class ="categories-image">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title">The Bedroom</p>
												<p class="painter-title">Vincent van Gogh</p>
											</div>
									</div>

									<div class ="categories-result">
											<div class ="categories-image">
												<div class ="categories-image">
												</div>
												<div class ="categories-writing-box">
													<p class="painting-title">The Drinkers</p>
													<p class="painter-title">Vincent van Gogh</p>
												</div>
											</div>
									</div>
							</div>


							<h1 class="categories-red"> Spain  </h1>
								<div class ="categories-grid">
										<div class ="categories-result">
												<div class ="categories-image">
												</div>
												<div class ="categories-writing-box">
													<p class="painting-title">The Old Guitarist</p>
													<p class="painter-title">Pablo Picasso</p>
												</div>
										</div>
								</div>


							<h1 class="categories-red"> Germany  </h1>
								<div class ="categories-grid">
										<div class ="categories-result">
												<div class ="categories-image">
												</div>
												<div class ="categories-writing-box">
													<p class="painting-title">The Bewitched Mill</p>
													<p class="painter-title">Franz Marc</p>
												</div>
										</div>
								</div>
				</div>






	</div>


		<div class="footer">
		</footer>

	</div><!-- end container -->

</body>
</html>
