<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="">

	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">

	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="container">

		<div class="menu">
			<img src="{{site.baseurl}}/img/Art-Institute-Logo.png" id="logo"/>
		</div>
		
		<div class="button">
			<a href="{{ site.baseurl }}{{ p.url }}">
				<h1 class="categories"> HOME </h1>
			</a>
		</div>

		<h3 class="title"> Decade </h3>

		<!-- <h1 class="categories"> Other Locations </h1> -->

		<h1 class="categories"> Categories </h1>
<!-- 		<h5 class="list"> FRANCE | UNITED STATES | NETHERLANDS | SPAIN | GERMANY </h5>
 -->
		<div class="two-grid">
			
			
			
	
	
			<div class="two-grid-result">
				<h1 class="categories-red">1870</h1>
			</div>
					<div class ="categories-grid">
						{% for p in site.pages %}
						{% if p.period contains "187" %}
								<div class ="categories-result">
								
	<!-- 								    <li> -->
										<a href="{{ site.baseurl }}{{ p.url }}">
											<div class ="categories-image">
												<img src="{{site.baseurl}}{{p.image}}" alt="image of {{p.title}}">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title"> {{ p.title }} </p>
												<p class="painter-title"> {{ p.artist}} </p>
											</div>
										</a>
	<!-- 								    </li> -->
							</div>	
						{% endif %}
						{% endfor %} 
					</div>

	
			
			
			<div class="two-grid-result">
				<h1 class="categories-red"> IMPRESIONISM </h1>
			</div>
					<div class ="categories-grid">
						{% for p in site.pages %}
						{% if p.style == "Impressionism" %}
							<div class ="categories-result">
								
	<!-- 								    <li> -->
										<a href="{{ site.baseurl }}{{ p.url }}">
											<div class ="categories-image">
												<img src="{{site.baseurl}}{{p.image}}" alt="image of {{p.title}}">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title"> {{ p.title }} </p>
												<p class="painter-title"> {{ p.artist}} </p>
											</div>
										</a>
	<!-- 								    </li> -->
							</div>	
						{% endif %}
						{% endfor %} 
					</div>
			
			
			<div class="two-grid-result">
				<h1 class="categories-red"> POINTILLISM </h1>
			</div>
					<div class ="categories-grid">
						{% for p in site.pages %}
						{% if p.style contains "Point" %}
							<div class ="categories-result">
								
	<!-- 								    <li> -->
										<a href="{{ site.baseurl }}{{ p.url }}">
											<div class ="categories-image">
												<img src="{{site.baseurl}}{{p.image}}" alt="image of {{p.title}}">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title"> {{ p.title }} </p>
												<p class="painter-title"> {{ p.artist}} </p>
											</div>
										</a>
	<!-- 								    </li> -->
							</div>	
						{% endif %}
						{% endfor %} 
					</div>
	
	
	
	
			<div class="two-grid-result">
				<h1 class="categories-red"> MODERNISM </h1>
			</div>
					<div class ="categories-grid">
						{% for p in site.pages %}
						{% if p.style contains "Modernism" %}
							<div class ="categories-result">
								
	<!-- 								    <li> -->
										<a href="{{ site.baseurl }}{{ p.url }}">
											<div class ="categories-image">
												<img src="{{site.baseurl}}{{p.image}}" alt="image of {{p.title}}">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title"> {{ p.title }} </p>
												<p class="painter-title"> {{ p.artist}} </p>
											</div>
										</a>
	<!-- 								    </li> -->
							</div>	
						{% endif %}
						{% endfor %} 
					</div>


			
						<div class="two-grid-result">
				<h1 class="categories-red"> EXPRESSIONISM </h1>
			</div>
					<div class ="categories-grid">
						{% for p in site.pages %}
						{% if p.style contains "Expressionism" %}
								<div class ="categories-result">
								
	<!-- 								    <li> -->
										<a href="{{ site.baseurl }}{{ p.url }}">
											<div class ="categories-image">
												<img src="{{site.baseurl}}{{p.image}}" alt="image of {{p.title}}">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title"> {{ p.title }} </p>
												<p class="painter-title"> {{ p.artist}} </p>
											</div>
										</a>
	<!-- 								    </li> -->
							</div>	
						{% endif %}
						{% endfor %} 
					</div>


			<div class="two-grid-result">
				<h1 class="categories-red"> FAUVISM </h1>
			</div>
					<div class ="categories-grid">
						{% for p in site.pages %}
						{% if p.style contains "Fauvism" %}
								<div class ="categories-result">
								
	<!-- 								    <li> -->
										<a href="{{ site.baseurl }}{{ p.url }}">
											<div class ="categories-image">
												<img src="{{site.baseurl}}{{p.image}}" alt="image of {{p.title}}">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title"> {{ p.title }} </p>
												<p class="painter-title"> {{ p.artist}} </p>
											</div>
										</a>
	<!-- 								    </li> -->
							</div>	
						{% endif %}
						{% endfor %} 
					</div>
			
			
			
			<div class="two-grid-result">
				<h1 class="categories-red"> ABSTRACT </h1>
			</div>
					<div class ="categories-grid">
						{% for p in site.pages %}
						{% if p.style contains "Abstract" %}
								<div class ="categories-result">
								
	<!-- 								    <li> -->
										<a href="{{ site.baseurl }}{{ p.url }}">
											<div class ="categories-image">
												<img src="{{site.baseurl}}{{p.image}}" alt="image of {{p.title}}">
											</div>
											<div class ="categories-writing-box">
												<p class="painting-title"> {{ p.title }} </p>
												<p class="painter-title"> {{ p.artist}} </p>
											</div>
										</a>
	<!-- 								    </li> -->
							</div>	
						{% endif %}
						{% endfor %} 
					</div>




	</div>


		<div class="footer">
		</footer>

	</div><!-- end container -->

</body>
</html>
