<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="{{ page.description }}">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	
	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="container">


        <h1>FSA/OWI photos</h1>
        
        
        
        <section class="listing">

            <h4>Every page</h4>
            <ul>
            {% for p in site.pages %}
                <li>
                    <a href="{{ site.baseurl }}{{ p.url }}">
                      {{ p.title }}
                    </a>
                </li>
            {% endfor %}    
            </ul>
            
        </section>
        
        
        

        <section class="listing">

            <h3>Time period</h3>
            
            <h4>1930s</h4>
            <ul>
            {% for p in site.pages %}
                {% if p.period=="1930s" %}
                    <li>
                        <a href="{{ site.baseurl }}{{ p.url }}">
                          {{ p.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}    
            </ul>

            <h4>1940s</h4>
            <ul>
            {% for p in site.pages %}
                {% if p.period=="1940s" %}
                    <li>
                        <a href="{{ site.baseurl }}{{ p.url }}">
                          {{ p.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}    
            </ul>

        </section>
            
            
            
        <section class="listing image-listing">

            <!-- 
                NOTE! In your site, you should use reduced-size thumbnails. 
                Think about bandwidth and performance.
            -->

            <h3>Photographer</h3>
            
            <h4>Marion Post Wolcott</h4>   
            <ul>         
                {% for p in site.pages %}
                    {% if p.photographer=="Marion Post Wolcott" %}
                        <li>
                            <a href="{{ site.baseurl }}{{ p.url }}">
                              <img src="{{ site.baseurl }}{{ p.image }}" alt="{{ p.title }}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}    
            </ul>
            <!-- note that image paths, in this scheme, must start with a slash -->

            <h4>Jack Delano</h4>            
            <ul>         
                {% for p in site.pages %}
                    {% if p.photographer=="Jack Delano" %}
                        <li>
                            <a href="{{ site.baseurl }}{{ p.url }}">
                              <img src="{{ site.baseurl }}{{ p.image }}" alt="{{ p.title }}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}    
            </ul>

            <h4>Dorothea Lange</h4>            
            <ul>         
                {% for p in site.pages %}
                    {% if p.photographer=="Dorothea Lange" %}
                        <li>
                            <a href="{{ site.baseurl }}{{ p.url }}">
                              <img src="{{ site.baseurl }}{{ p.image }}" alt="{{ p.title }}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}    
            </ul>

            <h4>Alfred T. Palmer</h4>            
            <ul>         
                {% for p in site.pages %}
                    {% if p.photographer=="Alfred T. Palmer" %}
                        <li>
                            <a href="{{ site.baseurl }}{{ p.url }}">
                              <img src="{{ site.baseurl }}{{ p.image }}" alt="{{ p.title }}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}    
            </ul>

        </section>
            
        

	</div><!-- end container -->
	
</body>
</html>
