<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="">

	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">

	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="container">

		<div class="menu">
			<img src="img//Art-Institute" id="logo"/>
			<a href="#home"></a>
			<a href="#news"></a>
		</div>

		<h3 class="title"> The Essential Collection</h3>
		<p>Explore thousands of artworks in the museum’s wide-ranging collection—
			from our world-renowned icons to lesser-known gems from every corner of
			the globe—as well as our books, writings, reference materials, and other
			resources.
		</p>

		<h1 class="categories"> Categories </h1>
		<h5 class="list"> LOCATION | DECADE | STYLE | MEDIUM | SUBJECT | COLOR </h5>

		<h1 class="categories-red"> FEATURED </h1>
			<div class ="categories-grid">
	<div class ="categories-one">
			<div class ="categories-image">
			</div>
			<div class ="categories-writing-box">
				<p>Edward Hopper: Nighthawks</p>
			</div>
	</div>

	<div class ="categories-two">
			<div class ="categories-image">
				<div class ="categories-image">
				</div>
				<div class ="categories-writing-box">
				<p>Edward Hopper: Nighthawks</p>
				</div>
			</div>
	</div>

	<div class ="categories-three">
			<div class ="categories-image">
				<div class ="categories-image">
				</div>
				<div class ="categories-writing-box">
					<p>Edward Hopper: Nighthawks</p>
				</div>
			</div>
	</div>
</div>

<h1 class="categories-red"> DECADE </h1>

<div class ="small-categories-grid">
	<div class ="small-categories-one">
			<div class ="small-categories-image">
			</div>
			<div class ="small-categories-writing-box">
				<p>1910</p>
			</div>
	</div>

	<div class ="small-categories-two">
			<div class ="small-categories-image">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
				<p>1920</p>
				</div>
			</div>
	</div>

	<div class ="small-categories-three">
			<div class ="small-categories-image">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
					<p>1930</p>
				</div>
			</div>
	</div>

	<div class ="small-categories-four">
			<div class ="small-categories-image">
			</div>
			<div class ="small-categories-writing-box">
				<p>1940</p>
			</div>
	</div>

	<div class ="small-categories-five">
			<div class ="small-categories-image">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
				<p>1950</p>
				</div>
			</div>
	</div>

	<div class ="small-categories-six">
			<div class ="small-categories-image">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
						<p>1960</p>
					</div>
			</div>
	</div>

	<div class ="small-categories-seven">
			<div class ="small-categories-image">
			</div>
			<div class ="small-categories-writing-box">
				<p>1940</p>
			</div>
	</div>

	<div class ="small-categories-eight">
			<div class ="small-categories-image">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
				<p>1950</p>
				</div>
			</div>
	</div>

	<div class ="small-categories-nine">
			<div class ="small-categories-image">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
					<p>1960</p>
				</div>
			</div>
	</div>
</div>

<h1 class="categories-red"> STYLE </h1>

<div class ="small-categories-grid">
		<div class ="small-categories-one">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
					<p>1910</p>
				</div>
		</div>

		<div class ="small-categories-two">
				<div class ="small-categories-image">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
					<p>1920</p>
					</div>
				</div>
		</div>

		<div class ="small-categories-three">
				<div class ="small-categories-image">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
						<p>1930</p>
					</div>
				</div>
		</div>

		<div class ="small-categories-four">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
					<p>1940</p>
				</div>
		</div>

		<div class ="small-categories-five">
				<div class ="small-categories-image">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
					<p>1950</p>
					</div>
				</div>
		</div>

		<div class ="small-categories-six">
				<div class ="small-categories-image">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
							<p>1960</p>
						</div>
				</div>
		</div>

		<div class ="small-categories-seven">
				<div class ="small-categories-image">
				</div>
				<div class ="small-categories-writing-box">
					<p>1940</p>
				</div>
		</div>

		<div class ="small-categories-eight">
				<div class ="small-categories-image">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
					<p>1950</p>
					</div>
				</div>
		</div>

		<div class ="small-categories-nine">
				<div class ="small-categories-image">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
						<p>1960</p>
					</div>
				</div>
		</div>
</div>

<h1 class="categories-red"> MEDIUM </h1>

	<div class ="small-categories-grid">
			<div class ="small-categories-one">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
						<p>1910</p>
					</div>
			</div>

			<div class ="small-categories-two">
					<div class ="small-categories-image">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
						<p>1920</p>
						</div>
					</div>
			</div>

			<div class ="small-categories-three">
					<div class ="small-categories-image">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
							<p>1930</p>
						</div>
					</div>
			</div>

			<div class ="small-categories-four">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
						<p>1940</p>
					</div>
			</div>

			<div class ="small-categories-five">
					<div class ="small-categories-image">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
						<p>1950</p>
						</div>
					</div>
			</div>

			<div class ="small-categories-six">
					<div class ="small-categories-image">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
								<p>1960</p>
							</div>
					</div>
			</div>

			<div class ="small-categories-seven">
					<div class ="small-categories-image">
					</div>
					<div class ="small-categories-writing-box">
						<p>1940</p>
					</div>
			</div>

			<div class ="small-categories-eight">
					<div class ="small-categories-image">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
						<p>1950</p>
						</div>
					</div>
			</div>

			<div class ="small-categories-nine">
					<div class ="small-categories-image">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
							<p>1960</p>
						</div>
					</div>
			</div>
	</div>

	<h1 class="categories-red"> SUBJECT </h1>

		<div class ="small-categories-grid">
				<div class ="small-categories-one">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
							<p>1910</p>
						</div>
				</div>

				<div class ="small-categories-two">
						<div class ="small-categories-image">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
							<p>1920</p>
							</div>
						</div>
				</div>

				<div class ="small-categories-three">
						<div class ="small-categories-image">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
								<p>1930</p>
							</div>
						</div>
				</div>

				<div class ="small-categories-four">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
							<p>1940</p>
						</div>
				</div>

				<div class ="small-categories-five">
						<div class ="small-categories-image">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
							<p>1950</p>
							</div>
						</div>
				</div>

				<div class ="small-categories-six">
						<div class ="small-categories-image">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
									<p>1960</p>
								</div>
						</div>
				</div>

				<div class ="small-categories-seven">
						<div class ="small-categories-image">
						</div>
						<div class ="small-categories-writing-box">
							<p>1940</p>
						</div>
				</div>

				<div class ="small-categories-eight">
						<div class ="small-categories-image">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
							<p>1950</p>
							</div>
						</div>
				</div>

				<div class ="small-categories-nine">
						<div class ="small-categories-image">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
								<p>1960</p>
							</div>
						</div>
				</div>
		</div>

		<h1 class="categories-red"> COLOR </h1>

			<div class ="small-categories-grid">
					<div class ="small-categories-one">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
								<p>1910</p>
							</div>
					</div>

					<div class ="small-categories-two">
							<div class ="small-categories-image">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
								<p>1920</p>
								</div>
							</div>
					</div>

					<div class ="small-categories-three">
							<div class ="small-categories-image">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
									<p>1930</p>
								</div>
							</div>
					</div>

					<div class ="small-categories-four">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
								<p>1940</p>
							</div>
					</div>

					<div class ="small-categories-five">
							<div class ="small-categories-image">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
								<p>1950</p>
								</div>
							</div>
					</div>

					<div class ="small-categories-six">
							<div class ="small-categories-image">
									<div class ="small-categories-image">
									</div>
									<div class ="small-categories-writing-box">
										<p>1960</p>
									</div>
							</div>
					</div>

					<div class ="small-categories-seven">
							<div class ="small-categories-image">
							</div>
							<div class ="small-categories-writing-box">
								<p>1940</p>
							</div>
					</div>

					<div class ="small-categories-eight">
							<div class ="small-categories-image">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
								<p>1950</p>
								</div>
							</div>
					</div>

					<div class ="small-categories-nine">
							<div class ="small-categories-image">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
									<p>1960</p>
								</div>
							</div>
					</div>
			</div>

			<h1 class="categories-red"> DECADE </h1>

				<div class ="small-categories-grid">
						<div class ="small-categories-one">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
									<p>1910</p>
								</div>
						</div>

						<div class ="small-categories-two">
								<div class ="small-categories-image">
									<div class ="small-categories-image">
									</div>
									<div class ="small-categories-writing-box">
									<p>1920</p>
									</div>
								</div>
						</div>

						<div class ="small-categories-three">
								<div class ="small-categories-image">
									<div class ="small-categories-image">
									</div>
									<div class ="small-categories-writing-box">
										<p>1930</p>
									</div>
								</div>
						</div>

						<div class ="small-categories-four">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
									<p>1940</p>
								</div>
						</div>

						<div class ="small-categories-five">
								<div class ="small-categories-image">
									<div class ="small-categories-image">
									</div>
									<div class ="small-categories-writing-box">
									<p>1950</p>
									</div>
								</div>
						</div>

						<div class ="small-categories-six">
								<div class ="small-categories-image">
										<div class ="small-categories-image">
										</div>
										<div class ="small-categories-writing-box">
											<p>1960</p>
										</div>
								</div>
						</div>

						<div class ="small-categories-seven">
								<div class ="small-categories-image">
								</div>
								<div class ="small-categories-writing-box">
									<p>1940</p>
								</div>
						</div>

						<div class ="small-categories-eight">
								<div class ="small-categories-image">
									<div class ="small-categories-image">
									</div>
									<div class ="small-categories-writing-box">
									<p>1950</p>
									</div>
								</div>
						</div>

						<div class ="small-categories-nine">
								<div class ="small-categories-image">
									<div class ="small-categories-image">
									</div>
									<div class ="small-categories-writing-box">
										<p>1960</p>
									</div>
								</div>
						</div>
				</div>	





	</div>


		<div class="footer">
		</footer>

	</div><!-- end container -->

</body>
</html>




















<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="{{ page.description }}">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	
	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="container">


        <h1>THE ESSENTIAL COLLECTION</h1>
        
	 {% for p in site.pages %}
		<a href="{{ site.baseurl }}{{ p.url }}">
                      <img src="{{ site.baseurl }}{{ p.image }}" alt="{{ p.title }}">
                </a>
		<h3>{{ p.artist}}</h3>
		<h2>{{ p.title }}</h2>
		<h4>{{ p.location }} {{p.period }}</h4>
		<h4>{{ p.style }} {{ p.medium }}</h4>

         {% endfor %}    
        
        <section class="listing">
            
        </section>
        
        

        

	</div><!-- end container -->
	
</body>
</html>
