<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="">

	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">

	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="container">

		<div class="menu">
			<img src="{{site.baseurl}}/img/Art-Institute-Logo" id="logo"/>
		</div>
		<div class="button">
				<h1 class="categories"> HOME </h1>
		</div>

		
		
		<h3 class="artwork-title"> {{page.title}}</h3>
		<h2 class="artist-title"> {{page.artist}}</h2>

		<div class="image-grid background-image">
			<img src="{{site.baseurl}}{{page.image}}" alt="image of {{page.title}}">
		</div>

		<div class="info-grid">
				<div class="info-grid-one">

					<h2> About </h2>
						<h5>LOCATION</h5>
						<h4>{{page.location}}</h4>
						<h5>DECADE</h5>
						<h4>{{page.period}}</h4>
						<h5>STYLE</h5>
						<h4>{{page.style}}</h4>
						<h5>MEDIUM</h5>
						<h4>{{page.medium}}</h4>
<!-- 						<h5>COLORS</h5> -->
<!-- 						<div class="color-grid">
								<div class="color-one">
								</div>
								<div class="color-two">
								</div>
								<div class="color-three">
								</div>
						</div> -->
				</div>

				<div class="info-grid-two">
						<p class="paragraph">Robert Delaunay was four years old when the Eiffel Tower was erected in
							Paris in the public green space known as the Champ de Mars. One of many
							artists to depict the landmark, Delaunay did a series of Eiffel Tower
							paintings, of which the Art Institute’s example is among the best known.
							The artist infused the dynamism of modern life into this image by
							employing multiple viewpoints, rhythmic fragmentation of form, and strong
							color contrasts. Delaunay accented the structure’s towering presence by
							framing it with tall buildings and placing smaller, shorter buildings,
							seen from above, at its base. The top of the tower seems to soar, its
							massive structure augmented by winglike clouds and patches of light-filled sky.</br></br>

							The artist first showed this painting in the winter of 1912, at the Galerie
							 Barbazanges in Paris, where Guillaume Apollinaire described the work in
							 a review as “unfinished, whether by design or accident.” Although
							 Delaunay’s intent is not recorded, it is certain that by 1923, when this
							 work was illustrated in the pages of the Bulletin de l’effort modern, it
							 looked as it does today: the artist had repainted portions of the canvas
							 and filled areas of reserve with paint.
						</p>
				</div>
			</div>
			<div class="button">
					<h1 class="categories"> HOME </h1>
			</div>
			<div class="button">
					<h1 class="categories"> CATERGORIES </h1>
			</div>

			<!-- <h5 class="list"> LOCATION | DECADE | STYLE | MEDIUM | SUBJECT | COLOR </h5> -->
	</div>


		<div class="footer">
		</footer>

	</div><!-- end container -->

</body>
</html>
